*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bodoni Moda", serif;


}
body
{
  background-color:#eeeeee;
min-height: 100%;
width: auto;
  margin: 0;
  padding: 0;
  /* overflow-y: auto; */
  overflow-x: hidden;
 
}
.app
{
  width: 80%;
  margin: auto;
  background-color: green;
}